# Ambiente Virtual
# Ignora a pasta inteira do venv
venv/
/venv/

# Arquivos de cache do Python
# Ignora pastas temporárias de compilação
__pycache__/
*.pyc

# Arquivos de configuração secretos
# *** ESTA É A LINHA MAIS IMPORTANTE ***
# NUNCA envie seu .env para o GitHub!
.env

# Banco de dados (que conterá as chaves no futuro)
database.db
instance/

# Arquivos temporários do antigo projeto Tkinter
build/
dist/
*.spec
temp_email_preview.html

# Ignora o arquivo de dados de leads
leads.csv